*{
	box-sizing: border-box;
}
body{
		font-family: 'Roboto', sans-serif;
		background-color: rgba(0, 90, 255, 0.75);
		text-align: center;

}
img	{
	height: 35px;
	    margin-top: 50px;
    }

.container {
	max-width: 400px;
	padding: 0px 40px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	margin-top: 30px;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
    color: rgba(0, 0, 0, 0.61);
}
fieldset {
    border: none;
    padding-left: 0px;
    margin-left: 0px;
    position: relative;
}
label{
	position: absolute;
	display: block;
}
.email {

}

input{
	display: block;
}
button {
	display: block;
}
a {
	display: block;
}